
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.pdb
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.GeneratedMSBuildEditorConfig.editorconfig
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.csproj.FileListAbsolute.txt
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.csproj.CoreCompileInputs.cache
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.assets.cache
ReserveeringsSysteemApi/obj/Debug/net5.0/ref/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/bin/Debug/net5.0/ReserveeringsSysteemApi.pdb
ReserveeringsSysteemApi/bin/Debug/net5.0/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/bin/Debug/net5.0/ref/ReserveeringsSysteemApi.dll
ReservationSystemApi/obj/Debug/ReservationSystemApi.csproj.AssemblyReference.cache
ReservationSystemApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReservationSystemApi/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ReservationSystem.Core/obj/x64/Debug/XamlSaveStateFile.xml
ReservationSystem.Core/obj/x64/Debug/ReservationSystem.Core.csproj.FileListAbsolute.txt
ReservationSystem.Core/obj/x64/Debug/ReservationSystem.Core.csproj.AssemblyReference.cache
ReservationSystem.Core/obj/x64/Debug/XamlSaveStateFile.xml
ReservationSystem.Core/obj/x64/Debug/View/VisualOccupancyOverview.g.i.cs
ReservationSystem.Core/obj/x64/Debug/View/VisualOccupancyOverview.g.cs
ReservationSystem.Core/obj/x64/Debug/ReservationSystem.Core.csproj.AssemblyReference.cache
ReservationSystem.Core/obj/x64/Debug/Model/OccupancyOverview/OccupancyOverviewRetry.g.i.cs
ReservationSystem.Core/obj/x64/Debug/Model/OccupancyOverview/OccupancyOverviewRetry.g.cs.backup
ReservationSystem.Core/obj/x64/Debug/Model/OccupancyOverview/OccupancyOverviewRetry.g.cs
ReservationSystem.Core/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
