
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.pdb
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.csproj.CoreCompileInputs.cache
ReserveeringsSysteemApi/obj/Debug/net5.0/ref/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/bin/Debug/net5.0/ReserveeringsSysteemApi.pdb
ReserveeringsSysteemApi/bin/Debug/net5.0/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/bin/Debug/net5.0/ref/ReserveeringsSysteemApi.dll
.vs/ReservationSystemApi/v17/.suo
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.csproj.FileListAbsolute.txt
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.csproj.AssemblyReference.cache
.vs/ReservationSystemApi/DesignTimeBuild/.dtbcache.v2
.vs/ReservationSystemApi/project-colors.json
.vs/ReservationSystemApi/v17/.futdcache.v1
ReservationSystem.Core/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
ReservationSystem.Core/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
