
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.pdb
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/obj/Debug/net5.0/ReserveeringsSysteemApi.csproj.CoreCompileInputs.cache
ReserveeringsSysteemApi/obj/Debug/net5.0/ref/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/bin/Debug/net5.0/ReserveeringsSysteemApi.pdb
ReserveeringsSysteemApi/bin/Debug/net5.0/ReserveeringsSysteemApi.dll
ReserveeringsSysteemApi/bin/Debug/net5.0/ref/ReserveeringsSysteemApi.dll
.vs/ReservationSystemApi/v17/.suo
